<nav>
  <div class="site-title">
    <a href="/courses"><h1>Final Project</h1></a>
  </div>
  <ul>
    <% if (user.uid) { %>
    <li><a href="/user/account"><%= user.name %></a></li>
    <% } else { %>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/user/register">Register</a></li>
    <% } %> <% if ((user.type == 'TEACHER') || (user.type == 'ADMIN')) { %>
    <li><a href="/courses/create">New Course</a></li>
    <% } %> <% if ((user.uid) && (user.type == 'STUDENT')) { %>
    <li><a href="/user/dashboard">Your Courses</a></li>
    <% } %> <% if (user.uid) { %> <% /* Apparently it's not "safe" to make a
    logout a get request so I have to suffer through this option instead. */ %>
    <li>
      <form action="/user/logout" method="POST" class="logout-form">
        <button type="submit">Log Out</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
