<nav>
    <div class="site-title">
        <a href="/courses"><h1>Placeholder Nav</h1></a>
    </div>
    <ul>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/courses/create">New Course</a></li>
    </ul>
</nav>