<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content">
    <h2><%= user.name %></h2>
    <strong><%= user.type %></strong>
  </div>
  </div>

</body>
</html>