<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content form">
      <form action="/courses" method="POST">
        <label for="cid">Course ID</label>
        <input type="text" id="cid" name="cid" pattern="[A-Za-z]{4}-\d{3}"
        <%/*Yipee! Text validation regex.*/%> required>

        <label for="name">Course Name</label>
        <input type="text" id="name" name="name" required />

        <label for="desc">Description</label>
        <textarea id="desc" name="desc" required></textarea>

        <label for="cred">Credit Hours</label>
        <input type="number" id="cred" name="cred" min="0" step="1" required />

        <button type="submit">Create Course</button><%/*Tweaked a bit to use
        custom button names because I thought that would be cool.*/%>
      </form>
    </div>
  </body>
</html>
