<html lang="en">
  <%/*Okay so I'm gonna have to make a few more changes here than other .ejs to
  get it functioning since I'm using an entirely different database and set of
  inputs.*/%> <%- include('./partials/head.ejs') %><%/*Not at all happy with
  just reworking workable files from the Node tutorial, but it gives me a good
  base to work with, and I'll make something better if I get a chance.*/%> <%/*I
  really want to experiment with some of the setups ChatGPT has claimed are more
  modern like using a central layout page for everything. But alas this is
  faster and easier right now.*/%>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content form">
      <form action="/courses" method="POST">
        <label for="cid">Course ID</label>
        <input type="text" id="cid" name="cid" pattern="[A-Za-z]{4}-\d{3}"
        <%/*Yipee! Text validation regex.*/%> required>

        <label for="name">Course Name</label>
        <input type="text" id="name" name="name" required />

        <label for="desc">Description</label>
        <textarea id="desc" name="desc" required></textarea>

        <label for="cred">Credit Hours</label>
        <input type="number" id="cred" name="cred" min="0" step="1" required />

        <button type="submit">Create Course</button><%/*Tweaked a bit to use
        custom button names because I thought that would be cool.*/%>
      </form>
    </div>
  </body>
</html>
