<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content course-item">
      <h2>Courses</h2>

      <% if (courses.length > 0) { %> <% courses.forEach(course => { %> <% const
      rel = creatorList.find(item => item.course === course.cid) %> <% const
      isCreator = rel.isCreator %> <%- include('partials/courseCard', { course,
      isCreator }) %> <% }) %> <% } else { %>
      <p>Course list missing or corrupted</p>
      <% } %>
    </div>
  </body>
</html>
