<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content course-item">
      <h3>Your Enrolled Courses:</h3>

      <% if (courses.length > 0) { %> <% courses.forEach(course => { %> <%-
      include('partials/courseCard', { course, isCreator: true, isStudent: true
      }) %> <% }) %> <% } else { %>
      <p>
        Course list missing or corrupted. If this issue persists, please
        sacrifice a new goat and wait 7-10 business days.
      </p>
      <% } %>
    </div>
  </body>
</html>
